<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__shake"
          src="dist/img/AdminLTELogo.png"
          alt="AdminLTELogo"
          height="60"
          width="60"
        />
      </div>

      <!-- Navbar -->
      <%- include('partials/navbar.ejs') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('partials/sidebar.ejs') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Data Table</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Data Table</li>
                </ol>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
          <div class="row">
          <div class="col-12">
        
          
          <div class="card">
          <div class="card-header">
          <h3 class="card-title"></h3>
          </div>
          
          <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>     
          <th>Action</th>
          </tr>
          </thead>
          <tbody>
      <% if(appUsers.length>0){appUsers.forEach(appUser=>{ %>
              <tr>
                <td><%= appUser._id %></td>  
                <td><%= appUser.name %></td>         
                <td><%= appUser.email %></td>  
                <td><%= appUser.password %></td>  
                <td>X</td>
              </tr>
          <%  } )} %>
           
          
          
         </tbody>
          </table>
          </div>
          
          </div>
          
          </div>
          
          </div>
          
          </div>
          
          </section>
          
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%- include('partials/footer.ejs')%>
  </body>
</html>
